.employee {
    height: 100%;
    width: 100%;
}
.update{
    height: 100vh;
}
.frm_container {
    width: 90%;
    margin: 0 auto;
}
.frm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "empleado empleado empleado"
                        "nick pass rol"
                        "id vacio2 submit";
}
p {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.frm_group_id{
    grid-area: id;
}
.frm_group_empleado {
    grid-area: empleado;
    /* width: 90%; */
}
.frm_group_nick {
    grid-area: nick;
}
.frm_group_password {
    grid-area: pass;
}
.frm_group_rol{
    grid-area: rol;
    width: auto;
}
.frm_group_submit {
    grid-area: submit;
    display: flex;
    justify-content: end;
    width: 90%;
}
.container_show_password{
    grid-area: showPass;
}
.frm_group_empty {
    grid-area: empty;
}
.frm__input {
    border: 1px solid #39c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-left: -2px;
    font-size: 1.3rem;
}
.frm__label {
    font-size: 1.4rem;
}
.frm__input:focus {
    outline: none;
    border: 2px solid #1A73E8;
}
.container_show_password{
    /* background: #aeaeae; */
    margin-top: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-self: flex-end;
}
select{
    padding: 7px;
}
.btn_new {
    align-self: center;
    width: 100%;
    height: 50px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    font-size: 1.6rem;
    transition: all .5s linear;
}
.btn_new:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    cursor: pointer;
}
.separador {
    width: 90%;
    position: relative;
    top: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
.container_table {
    /* margin-top: 60px; */
    padding: 50px;
    text-align: center;
}
.btn_editar {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #000;
    background: #ffc107;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
}
.btn_editar:hover {
    background: #f5ba0a;
    text-decoration: none;
}
.btn_eliminar {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #fff;
    background: #e30d23;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
}
.btn_eliminar:hover {
    background: #c71a2b;
    text-decoration: none;
}
.acciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (max-width:970px) {
    .frm{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "empleado empleado"
                            "nick pass"
                            "rol submit";
    }
    .frm__input {
        border: 1px solid #39c;
        padding: 10px;
        border-radius: 8px;
        margin-top: 7px;
        margin-left: -2px;
        font-size: 1rem;
    }

    .frm__label {
        font-size: 1.1rem;
    }

    .frm__input:focus {
        outline: none;
        border: 2px solid #1A73E8;
    }

    .btn_new{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:785px){
    .frm{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "empleado"
                "nick"
                "pass"
                "rol"
                "submit";
    }

    .btn_new{
        width: 100%;
        font-size: 1.4rem;
    }

    .frm__input {
        border: 1px solid #39c;
        border-radius: 10px;
        padding: 10px;
        margin-top: 7px;
        margin-left: -2px;
        font-size: 1.1rem;
    }

    .frm__label {
        font-size: 1.2rem;
    }

    .frm__input:focus {
        outline: none;
        border: 2px solid #1A73E8;
    }
}